Analytic Functions

First value analytic function

In [ ]:
SELECT Emp_Name, FIRST_VALUE(Salary) 
OVER ()
FROM Employee;

Last value

In [ ]:
SELECT Emp_Name, LAST_VALUE(Salary) 
OVER ()
FROM Employee;

Nth value

In [ ]:
SELECT Emp_Name, NTH_VALUE(Salary) 
OVER ()
FROM Employee;

NTILE

In [ ]:
SELECT Emp_Name, Salary, NTILE(5) 
OVER (ORDER BY Salary)
FROM Employee;

Row number function

In [ ]:
SELECT Emp_Name, City, ROW_NUMBER()
OVER (PARTITION BY City ORDER BY City)
FROM Employee;

Rank

In [ ]:
SELECT Name, Marks, RANK()
OVER (ORDER BY Marks DESC)
FROM StudentMarks;

Dense Rank

In [ ]:
SELECT Name, Marks, DENSE_RANK()
OVER (ORDER BY Marks DESC)
FROM StudentMarks;

Percent rank

In [ ]:
SELECT Name, Marks, PERCENT_RANK()
OVER (ORDER BY Marks ASC)
FROM StudentMarks;

Make above function readable using Round function

In [ ]:
SELECT Name, Marks, ROUND(PERCENT_RANK()
OVER (ORDER BY Marks ASC) * 100, 2)
FROM StudentMarks;

We can concat "%" to the percent rank column

In [ ]:
SELECT Name, Marks, ROUND(PERCENT_RANK()
OVER (ORDER BY Marks ASC) * 100, 2) || '%'
FROM StudentMarks;

Lag function

In [ ]:
SELECT Name, Marks, LAG(Marks, 1, 0)
OVER (ORDER BY Marks ASC)
FROM StudentMarks;

Lead function

In [ ]:
SELECT Name, Marks, LEAD(Marks, 1, 0)
OVER (ORDER BY Marks ASC)
FROM StudentMarks;