Oracle Functions

Creating salary function

In [ ]:
CREATE OR REPLACE FUNCTION GET_SALARY(salary number, tax number) RETURN NUMBER IS
BEGIN
    RETURN (salary - ((salary * tax) / 100));
END;

Use function with Select Query

In [ ]:
SELECT Name, Email, Salary, Tax, GET_SALARY(Salary,Tax) AS SalaryWithoutTax
FROM Employee;

Get function

In [ ]:
SELECT * FROM ALL_SOURCE
WHERE Type = 'FUNCTION' AND Name = 'GET_SALARY';

Drop function

In [ ]:
DROP FUNCTION GET_SALARY;