Aggregate Functions

Count function: Counts and returns number of selected rows

In [ ]:
SELECT COUNT(*) FROM Mobile

Average functions

In [ ]:
SELECT AVG(PRICE) FROM Mobile

Sum function

In [ ]:
SELECT SUM(PRICE) FROM Mobile

Distinct and all keywords

In [ ]:
SELECT SUM(PRICE), SUM(ALL PRICE), SUM(DISTINCT PRICE) FROM Mobile

Max and Min functions

In [ ]:
SELECT MAX(PRICE), MIN(ALL PRICE) FROM Mobile

Group by

In [ ]:
SELECT Company, MAX (Price) FROM Mobile GROUP BY Company;