insert date to a table

In [ ]:
INSERT INTO Country VALUES ('Afghanistan', 'Kabul');

Select data from a table

In [ ]:
SELECT * FROM Country;

Update data

In [ ]:
UPDATE Country
SET City = 'Qabul'
WHERE City = 'Kabul'

Delete a table data

In [ ]:
DELETE FROM Country;