Printing a sentence

If you are on SqlDeveloper, you need to setÂ SERVEROUTPUT variable on. and then you can print

In [ ]:
SET SERVEROUTPUT ON

In [ ]:
DBMS_OUTPUT.PUT_LINE('Assalamu Alaikum');

For loop

In [ ]:
BEGIN
FOR a in 10 .. 2000 LOOP 
      INSERT INTO Sales VALUES ('abc' || a, a);
END LOOP;
END;

Reverse loop

In [ ]:
BEGIN 
   FOR a IN REVERSE 10 .. 20 LOOP 
      DBMS_OUTPUT.PUT_LINE('value of a: ' || a); 
   END LOOP; 
END;