Stored Procedures

List all stored procedures

In [ ]:
SELECT * FROM All_SOURCE
WHERE TYPE = 'PROCEDURE'

The print line Stored procedures in oracle

In [ ]:
SELECT * FROM All_SOURCE
WHERE TYPE = 'PROCEDURE' AND
TEXT LIKE '%dbms%'

First test procedure

In [ ]:
CREATE OR REPLACE PROCEDURE TEST
IS
BEGIN
    DBMS_OUTPUT.PUT_LINE('Assalamu Alaikum!');
END;

Execute a stored procedure

In [ ]:
EXECUTE TEST;

Passing Parameters (IN)

In [ ]:
CREATE OR REPLACE PROCEDURE TEST
(
    FirstParam IN VARCHAR
)
IS
BEGIN
    DBMS_OUTPUT.PUT_LINE('Assalamu Alaikum!, Welcome to the ' || FirstParam);
END;

Execute procedure and pass parameteres

In [ ]:
EXECUTE TEST('Oracle Course');

Getting parameter (OUT)

In [ ]:
CREATE OR REPLACE PROCEDURE TEST
(
    FirstParam OUT VARCHAR
)
IS
BEGIN
    FirstParam := 'Assalamu Alaikum!';
END;

Executing above procedure

In [ ]:
DECLARE 
    First VARCHAR(50);
BEGIN
    TEST(First);
    DBMS_OUTPUT.PUT_LINE(First);
END;

Passing and Getting one parameter (IN OUT)

In [ ]:
CREATE OR REPLACE PROCEDURE TEST
(
    FirstParam IN OUT VARCHAR
)
IS
BEGIN
    FirstParam := FirstParam || ', Welcome!';
END;

Executing above procedure

In [ ]:
DECLARE 
    First VARCHAR(50) := 'Assalamu Alaikum!';
BEGIN
    TEST(First);
    DBMS_OUTPUT.PUT_LINE(First);
END;