Create table

In [ ]:
CREATE TABLE Country
( 
    Name VARCHAR(30) NOT NULL,
    Province VARCHAR(30) NOT NULL
);

Primary Key

In [ ]:
CREATE TABLE Employee
(
    Id NUMBER PRIMARY KEY,
    Name VARCHAR2(50),
    Email VARCHAR2(70),
    Salary NUMBER(10,2),
    RegisteredAt TIMESTAMP WITH TIME ZONE
);

Insert value

In [ ]:
INSERT INTO Employee VALUES (1, 'Ahmad', 'ahmad@example.com', 1200, CURRENT_TIMESTAMP);

Primary key with Auto increment

In [ ]:
CREATE TABLE Employee
(
    Id NUMBER GENERATED BY DEFAULT ON NULL AS IDENTITY(START WITH 1 INCREMENT BY 1) PRIMARY KEY,
    Name VARCHAR2(50),
    Email VARCHAR2(70),
    Salary NUMBER(10,2),
    RegisteredAt TIMESTAMP WITH TIME ZONE
);

Insert value

In [ ]:
INSERT INTO Employee VALUES (null, 'Ahmad', 'ahmad@example.com', 1200, CURRENT_TIMESTAMP);