List tablespaces

In [ ]:
SELECT *
FROM DBA_TABLESPACES;

Create a tablespace

In [ ]:
CREATE TABLESPACE <tablespace>
DATAFILE '<tablespace>.dat' 
SIZE 20M;

Drop a tablespace

In [ ]:
DROP TABLESPACE <tablespace>;

Add unlimited space on a tablespace to a user

In [ ]:
ALTER USER <username> QUOTA UNLIMITED ON <tablespace>;

OR 10 MB

In [ ]:
ALTER USER <username> QUOTA 10MB ON <tablespace>;